body {
    background-image: url("tkj3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #333;
    color: aliceblue;
    text-align: center;
}

.atas {
    background-color: bisque;
}

nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.ten {
        padding: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 500px;
        border-radius: 20%;
        border-style: solid;
}

.eleven {
        padding: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 500px;
        border-radius: 20%;
        border-style: solid;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.decor {
    text-decoration: none;
}
